
.button {
    @include transition;

    display : inline-block;
    margin : 0;
    padding : 0;
    cursor : pointer;
    text-transform : uppercase;
    border : none;
    border-radius : 4px;
    outline : none;
    background : transparent;

    -webkit-appearance : none;
    -moz-appearance : none;
    -ms-appearance : none;
    -o-appearance : none;
    appearance : none;
}
.btn {
    padding : 7px 15px;
    font-size : 14px;

@extend .button;
}

.btn-blue {
    @include hover-focus {
        color : $white;
        border : solid 1px $blue;
        background : $blue;
    }

color : $blue;
    border : solid 1px $blue;

@extend .btn;

    &:active {
        color : $white;
        border : solid 1px $blue;
        background : $blue;
    }
}
.btn-red {
    @include hover-focus {
        color : $white;
        border : solid 1px $red;
        background : $red;
    }

color : $red;
    border : solid 1px $red;

@extend .btn;

    &:active {
        color : $white;
        border : solid 1px $red;
        background : $red;
    }
}
.btn-green {
    @include hover-focus {
        color : $white;
        border : solid 1px $green;
        background : $green;
    }

color : $green;
    border : solid 1px $green;

@extend .btn;

    &:active {
        color : $white;
        border : solid 1px $green;
        background : $green;
    }
}

.btn-link {
    padding : 10px;
    border : solid 1px transparent;
    font-size : 13px;

@extend .button;
}

.btn-link-orange {
    @include hover-focus {
        border : solid 1px $orange;
    }

color : $orange;

@extend .btn-link;

    &:active {
        border : solid 1px $orange;
    }
}
.btn-link-red {
    @include hover-focus {
        border : solid 1px $red;
    }

color : $red;

@extend .btn-link;

    &:active {
        border : solid 1px $red;
    }
}
.btn-link-green {
    @include hover-focus {
        border : solid 1px $green;
    }

color : $green;

@extend .btn-link;

    &:active {
        border : solid 1px $green;
    }
}
