.field {
    width : 100%;
    margin-bottom : 15px;

@include flex;

@include flex-column();
}
.field__label {
    padding : 4px;
    color : $black;
    font-size : 16px;
    font-weight : 400;
}
.field__input {
    padding : 7px 5px;
    resize : none;
    border : solid 1px $blue;
    border-radius : 4px;
    outline : none;
    font-size : 16px;
    font-weight : 300;

@include hover {
        box-shadow : 0 0 5px #299cb4;
    }

@include transition;

    &:focus {
        box-shadow : 0 0 5px #299cb4;
    }
}