@mixin common-text {
  overflow: hidden;
  margin-top: 0;
  text-overflow: ellipsis;
}

.h1 {
  font-weight: 400;

  @include mobile {
    font-size: 30px;
  }

  @include common-text;
}

.h2 {
  font-weight: 400;

  @include common-text;
}

.h3 {
  font-weight: 400;

  @include common-text;
}

.text {
  @include common-text;
}

.text-small {
  color: $grey;
  font-size: 14px;
  font-weight: 400;
  display: flex;

  @include common-text;
}