
.auth__inner {
    box-sizing: border-box;

    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__form {
    width: 100%;
    max-width: 500px;
    padding: 30px 40px 20px;
    border: solid 1px $blue;
    border-radius: 4px;
}

.auth__btn {
    padding: 10px;

    display: flex;
    justify-content: flex-end;
}