.news__inner {
    position : relative;
    box-sizing : border-box;
    width : 100%;
    max-width : 700px;

@include inner;

@include flex;

@include flex-column;
}
.news__control {
    position : absolute;
    top : 40px;
    right : 20px;
}
