.news__inner {
    position: relative;
    width: 100%;
    max-width: 700px;

    
    display: flex;
    flex-direction: column;
}

.news__control {
    position: absolute;
    top: 40px;
    right: 20px;
}
