@mixin transition ( $prop : all,  $time : 0.3s,  $ease : linear) {
    -webkit-transition : $prop  $time  $ease;
         -o-transition : $prop  $time  $ease;
            transition : $prop  $time  $ease;
}

@mixin transform( $params) {
    -webkit-transform : $params;
        -ms-transform : $params;
            transform : $params;
}

@mixin box-shadow( $params) {
    -webkit-box-shadow : $params;
            box-shadow : $params;
}