@mixin inner {
    position : relative;
    width : 100%;
    max-width : 1200px;
    margin : 0 auto;
    padding : 40px 20px 20px;
}



@mixin reset-list {
    margin : 0;
    padding : 0;
    list-style : none;
}
