*, *:before, *:after {
    box-sizing: border-box;
}
  
  
body ,
html {
    overflow: hidden;
    height: 100%;
}
  
html {
    font-size: 62.5%;
}
  
body {
    margin: 0;
    font-family: $main-font;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
button {
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    transition: all 0.3s linear;
    appearance: none;
    text-decoration: none;
}
  
a {
    transition: all 0.3s linear;
    text-decoration: none;
}
  
figure,pre {
    margin: 0;
}
  
//   pre {
//     font-family: $code-font;
//   }
  
input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    appearance: none;
}
  
textarea {
    margin: 0;
    padding: 0;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
}
  
.app {
    height: 100%;
}
  
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
  
.fade-enter, .fade-leave-to {
    opacity: 0;
}
  
.rail-up-enter-active, .rail-up-leave-active {
    transition: all 0.5s;
    transform: translateY(0) ;
}
  
.rail-up-enter, .rail-up-leave-to {
    transform: translateY(100%) ;
}
  
.rail-down-enter-active, .rail-down-leave-active {
    transition: all 0.5s;
    transform: translateY(0) ;
}
  
.rail-down-enter, .rail-down-leave-to {
    transform: translateY(-100%) ;
}